@import '@/style/variables.scss';

.layout {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__body {
    flex: 1;
  }
}

.header {
  height: $header-height;
  width: 100%;
  background: $theme-color;
}